.autoplay-vimeo-label {
    cursor: pointer;
    display: block;
    max-width: 180px !important;
}

.autoplay-vimeo-label input {
    display: none !important;
}

.autoplay-vimeo-label span {
    color: #6A759B;
}

.autoplay-vimeo-label i {
    display: inline-block;
    width: 64px;
    height: 40px;
    border-radius: 20px;
    vertical-align: middle;
    -webkit-transition: .25s .09s;
    transition: .25s .09s;
    position: relative;
    background: #deeff7;
}

.autoplay-vimeo-label i:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: .15s;
    transition: .15s;
}

.autoplay-vimeo-label > input:checked + i {
    background: #86d993;
}

.autoplay-vimeo-label > input:checked + i + span {
    color: #122B46;
}

.autoplay-vimeo-label > input:checked + i:after {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
}